{
  "jwt": {
    "secret": "",
    "expired": 1
  },
  "encrypt": {
    "keystring": "",
    "additional": ""
  },
  "debug": true,
  "databases": {
    "postgres": {
      "host": "",
      "user": "",
      "password": "",
      "dbname": "",
      "port": "",
      "sslmode": "disable",
      "timezone": "Asia/Jakarta"
    },
    "mongodb": {
      "port": "27017",
      "username": "",
      "password": "",
      "cluster": "",
      "dbname": "thukul",
      "collection": {
        "logger": "logs"
      }
    }
  },
  "thirdparties": {
    "coinmarketcap": {
      "api_key": ""
    }
  },
  "context": {
    "timeout": 2
  },
  "server": {
    "address": {
      "host": "0.0.0.0",
      "port": "8080"
    }
  },
  "smtp": {
    "server": "",
    "host": "",
    "port": ,
    "sender_name": "",
    "email": "",
    "password": ""
  }
}
